{
	servers {
		metrics
	}
}

server.tadeasfort.com {
	reverse_proxy * localhost:5555
	encode gzip
	tls fort@ondaytrip.com
}

prometheus.tadeasfort.com {
	reverse_proxy * localhost:9090 # Assuming Prometheus is running on port 9090
	tls your_email@example.com
}
